/*  your css code here. If applicable */
.container {
	display: inline-flex;
	gap: 10px;
	margin: auto;
	padding: 60px 120px;
	border: 6px solid black;
	border-radius: 60px;
	background-color: lightgray;
}

.red, .green, .yellow {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.red {
	background-color: red;
}
.green {
	background-color: green;
}
.yellow {
	background-color: yellow;
}